.App {
  min-height: 100vh;
  text-align: center;
  background-color: #282c34;
}

.App-header {
  max-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  padding-left: 20px;
}

.PageTitle {
  color: #F4D147;
}

.App-link {
  color: #61dafb;
}
